  <div class="container">
    <div class="row">
      <h1>
      <div class="icon">
        <% if @user.icon.attached? %>
          <%= image_tag @user.icon_image %>
        <% else %>
          <%= image_tag("default_user.jpg", size: 50)%>
        <% end %>
        <div class="profile-name">
          <%= @user.name %>
        </div>
      </div>
      </h1>
      <div class="user-show-menu">
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
          <%= render 'follow_form' if logged_in? %>
          <% if @user.posts.any? %>
            <%= link_to "投稿一覧", @user, class: "posts-likes" %>
            <%= link_to "いいね一覧", "/users/#{@user.id}/likes", class: "posts-likes" %>
            <li class="posts">
              <%= render @posts %>
            </li>
            <div class="col-md-12">
              <div class="paginate">
                <%= will_paginate @posts %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
