<div class="container">
  <h1>新規投稿</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      <div class="field">

        <%= f.label :name, "オススメのアプリ名" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :content, "アプリのオススメポイント" %>
        <%= f.text_area :content %>
      </div>
      <span class="image">
        <%= f.label :image, "ホーム画面のレイアウト" %>
        <%= f.file_field :image %>
      </span>

      <%=f.submit "投稿する", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#post_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("最大ファイルサイズは5MBです。より小さいファイルを選択してください。");
      $("#post_image").val("");
    }
  });
</script>