<div class="posts-show" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="show-layout">
          <%= image_tag @post.display_image %>
        </div>
      </div>
      <div class="col-md-4">
        <%= link_to gravatar_for(@post.user, size:50), @post.user %>
        <%= link_to @post.user.name, @post.user %>
        <div id="like-<%= @post.id%>">
          <%= render partial: "users/like", locals: { post: @post } %>
        </div>
        <h2>オススメアプリ</h2>
        <%= @post.name %>
        <h2>オススメポイント</h2>
        <%= @post.content%>
        <h4><%= link_to 'このアプリの情報を見る', 'https://www.apple.com/jp/search/?src=globalnav' %></h4>
      </div>
      <div class="col-md-4">
        <% if current_user %>
          <%= form_with(model: [@post,@comment], class: "message-form", local: true) do |form| %>
            <%= form.text_area :text, class: "textbox", placeholder: "投稿へのコメントを入力する" %>
            <%= form.submit "送信する", class: "form_submit"%>
          <% end %>
        <% else %>
          <p>コメントするにはログインが必要です</p>
        <% end %>
        <div id="comment_lists">
          <%= render 'comment_list' %>
        </div>
        <div class="more">
          <%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'view_more' %>
        </div>
      </div>
    </div>
  </div>
</div>
