
<header class="navbar navbar-fixed-top navbar-default">
  <ul class="nav navbar-nav navbar">
    <li><%= link_to "viewhome",   root_path %></li>
    <li><%= link_to "viewhomeとは",   about_path %></li>
    <% if logged_in? %>
      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "新規登録",   signup_path %></li>
      <li><%= link_to "ログイン",   login_path %></li>
    <% end %>
  </ul>
</header>